@model JewelryProduct

<div class="card shadow-lg border-0 mb-5 p-4">
    <h4 class="mb-3 text-center"><i class="fas fa-diamond"></i> Jewelry Details</h4>
    <div class="row">
        <div class="col-md-6">
            <p><strong>Serial Number:</strong> @Model.SerialNumber</p>
            <p><strong>Product Title:</strong> @Model.ProductTitle</p>
            <p><strong>Gold Type:</strong> @Model.GoldType</p>
            <p><strong>Gross Weight:</strong> @Model.GWT g</p>
            <p><strong>Net Weight:</strong> @Model.NWT g</p>
        </div>
        <div class="col-md-6">
            <p><strong>Soliter Diamond:</strong> @Model.SoliterDiamond</p>
            <p><strong>Small Diamond:</strong> @Model.SmallDiamond</p>
            <p><strong>Labour:</strong> ₹@Model.Labour</p>
            <p><strong>Require:</strong> @Model.RequireData</p>
            <p><strong>Total Amount:</strong> ₹@Model.TotalAmount</p>
        </div>
    </div>

    <div class="text-start mt-4">
        <button class="btn btn-outline-green btn-sm px-3" onclick="resetSearch()">
            <i class="fas fa-arrow-left"></i> Back
        </button>
    </div>





</div>

